body {
    background-color: black;
}

.Cuadro {
    display: flex;
    gap: 1rem;
}

.Cuadro>div {
    flex: 1;
    transition: all 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.Cuadro>div:hover {
    flex: 3;
}

.Elemento {
    border-radius: 0.5rem;
    width: 4rem;
    height: 8rem;
    background-color: rgb(255, 255, 255);
}